nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3498db;
    padding: 10px 80px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#navbar li {
    list-style: none;
    padding: 0 20;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    color: white;
    font-size: 1.3;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}

#navbar li a:hover,
#navbar li a.active {
    color: aquamarine;
}

#navbar li a:hover::after,
#navbar li a.active::after {
    content: '';
    width: 50%;
    height: 2px;
    background-color: aquamarine;
    bottom: -4px;
    left: 20px;
    position: absolute;
}

#mobile {
    display: none;
}

#mobile i {
    color: white;
    align-items: center;
}

@media screen and (max-width: 768px) {
    #navbar {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        position: fixed;
        top: 90px;
        right: -300px;
        width: 300px;
        height: 100vh;
        background: #3498db;
        box-shadow: 0 40px 60px;
        padding: 40px 0 0 10px;
        transition: 0.3s ease-in-out;
    }
    #navbar.active {
        right: 0;
    }
    #navbar li {
        margin-bottom: 20px;
    }
    #mobile {
        display: block;
    }
    #mobile i {
        font-size: 24px;
        cursor: pointer;
    }
}